// colors
$primary: #ee3532; 
$secondary: #363636;
$terciary: #7c7c7c;
$white: #ffffff;
$light: #cfcfcf;
$dark: #202020;
$beige: #fefaf5;
$redish: rgb(107, 45, 41);
$blueish: rgb(13,18,45);


$theme-colors: (
  "terciary": $terciary,
  "alternate": $beige,
  "redish": $redish,
  "blueish": $blueish
);


//font-size
// $font-size-base: 0.95rem;

//font-style
.bold{
  font-weight: bold;
}

//borders
.wraperProductos > div{border-bottom: 1px solid $primary}
.wraperProductos > div:last-child{border-bottom: none }

.border-top-1{border-top: 1px solid $primary}
.border-bot-1{border-bottom: 1px solid $primary}

.border-top-2{border-top: 2px solid $primary}
.border-bot-2{border-bottom: 2px solid $primary}

.border-right-2{border-right: 2px solid}

//header
.fixedTop{
  position: absolute;
  top: 0;
  right: 0
}


// fonts
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  src: url('/fonts/myriad_pro.otf') format('truetype');
}
@font-face {
  font-family: 'Trajan Pro';
  font-style: normal;
  src: url('/fonts/trajan_pro.ttf') format('truetype');
}
@font-face {
  font-family: 'Markinson';
  font-style: normal;
  src: url('/fonts/markinson.otf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: 600;
  src: url('/assets/fonts/open_sans_semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa Rust Sans';
  font-style: 600;
  src: url('/assets/fonts/nexa_rust_sans_black.otf') format('opentype');
}

%font-myriad { font-family: 'Myriad Pro', sans-serif !important}
%font-trajan { font-family: 'Trajan Pro' !important}
%font-markinson { font-family: 'Markinson' !important}
%font-nexa { font-family: 'Nexa Rust Sans' !important}
%font-bold { font-weight: bold !important}

.font-myriad {
  @extend %font-myriad;
  &-bold {
    @extend %font-myriad;
    @extend %font-bold;
  }
}
.font-trajan{@extend %font-trajan;}
.font-markinson{@extend %font-markinson;}
.font-nexa{@extend %font-nexa;}
body{@extend %font-myriad;}

.fa-bars{ fill: $primary !important }
div.svg:hover .fa-bars{ fill: $dark !important }




// Special media query styles
// Extra small devices (576px and down)
@media (max-width: 575px) {
  .navbar-nav{font-size: 1.1rem}
  .navbar-brand{margin: 0 auto !important }
  .navbar-toggler-icon{position: absolute; right: 5%}
  .headerlogo{height: 200px }
  .footerItems{margin: 15px 0;}
  .redesLogo{height: 40px;}
  
  .Index_banner{
    h1{ font-size: 1.5rem;}
    .section1logo{width: 250px; height: auto }
  }
  .Index_section{
    h1{ font-size: 2.75rem;}
  }
  .Nosotros_section1{
    h1{font-size: 4.5rem;}
    h2{font-size: 1.25rem;}
    .imgElDon{ height: 400px;}
  }
  .Nosotros_section2{
    h1{font-size: 4rem;}
  }
  .Productos_banner{
    h1{font-size: 4.5rem;}
    h3{font-size: 1.2rem}
  }
  .Contacto_top{
    .section1logo{width:250px;}
  }
  .Contacto_gracias{
    h5{font-size: 1.10rem;}
  }
  .Prod_banner, .Lineas_banner{
    .banner{height: 250px;}
  }
  .Lineas_banner{
    h1{font-size: 4.5rem;}
  }
}


// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-nav{font-size: 1.25rem}
  .header{font-size: 1.25rem}
  .headerlogo{height: 175px}
  .footerItems{margin: 10px 0;}
  .redesLogo{height: 40px;}

  .Index_banner{
    h1 {font-size: 1.5rem;}
    .section1logo{height: 350px;}
  }

  .Nosotros_section1{
    h1{font-size: 4.5rem;}
    h2{font-size: 1.25rem;}
    .imgElDon{ height: 470px;}
  }
  .Nosotros_section2{
    h1{font-size: 4rem;}
  }
  .Productos_banner{
    h1{font-size: 4.5rem;}
    h3{font-size: 1.25rem}
  }
  .Contacto_top{
    .section1logo{width:250px;}
  }
  .Contacto_gracias{
    h5{font-size: 1.10rem;}
  }
  .Prod_banner, .Lineas_banner{
    .banner{height: 300px;}
  }
  .Lineas_banner{
    h1{font-size: 4.5rem;}
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .headerlogo{height: 175px}
  .footerBorders div:nth-child(odd){border-right: 2px solid white}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .headerlogo{height: 175px}
  .navbar-nav > a > span{border-right: 2px solid; padding: 5px 25px}
  .navbar-nav > a:last-child > span{border-right: none}
  .footerBorders div:not(:last-child){border-right: 2px solid white}

  .Index_banner{
    h1{ font-size: 2rem;}
    .section1logo{height: 350px;}
  }
  .Nosotros_section1{
    h1{font-size: 4.5rem;}
    h2{font-size: 1.25rem;}
    .imgElDon{ height: 575px;}
  }
  .Productos_banner{
    h1{font-size: 6rem;}
    h3{font-size: 1.75rem}
  }
  .Prod_banner, .Lineas_banner{
    .banner{height: 350px;}
  }
  .Lineas_banner{
    h1{font-size: 4.5rem;}
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .HeaderMid img{height: 175px}
}

@import "../node_modules//bootstrap/scss/bootstrap";