// colors
$primary: #ee3532; 
$secondary: #363636;
$terciary: #7c7c7c;
$white: #ffffff;
$light: #cfcfcf;
$dark: #202020;
$beige: #fefaf5;


$theme-colors: (
  "terciary": $terciary,
  "alternate": $beige
);

//font-size
$font-size-base: .95rem;

//font-color
h1, h2, h3, h4, h5, h6 {
  color: $white
}
p, span {
    color: $light
}
//font-style
.bold{
  font-weight: bold;
}

//font color
.font-primary{color: $primary}
.font-secondary{color: $secondary}
.font-white{color: $white !important}

//borders
.border-top-1{border-top: 1px solid $primary}
.border-bot-1{border-bottom: 1px solid $primary}

.border-right-2{border-right: 2px solid}
.border-right-2:last-child{border-right: none}

//header
.fixedTop{
  position: absolute;
  top: 0;
  right: 0
}


// fonts
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('/assets/fonts/open_sans_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: 600;
  src: url('/assets/fonts/open_sans_semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa Rust Sans';
  font-style: 600;
  src: url('/assets/fonts/nexa_rust_sans_black.otf') format('opentype');
}

%font-nexa { font-family: 'Nexa Rust Sans' !important}
%font-opensans { font-family: 'Open Sans', sans-serif !important}
%font-bold { font-weight: bold !important}

.font-roboto {
  @extend %font-opensans;
  &-bold {
    @extend %font-opensans;
    @extend %font-bold;
  }
}
.font-nexa{
  @extend %font-nexa;
}
body{
  @extend %font-opensans;
}

// Special media query styles
// Extra small devices (576px and down)
@media (max-width: 575px) {
  .headerlogo{height: 250px}
  .section1logo{height: 300px}
  .Carrousel h1{font-size: 1.5rem}
  .Carrousel h2{font-size: 1rem}
}
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .headerlogo{height: 175px}
  .section1logo{height: 300px}
  .Carrousel h1{font-size: 2rem}
  .Carrousel h2{font-size: 1.5rem}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .headerlogo{height: 175px}
  .section1logo{height: 300px}
  .Carrousel h1{font-size: 2.5rem}
  .Carrousel h2{font-size: 2rem}
  .footerBorders div:nth-child(odd){border-right: 2px solid white}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .headerlogo{height: 175px}
  .section1logo{height: 300px}
  .Carrousel h1{font-size: 3rem}
  .Carrousel h2{font-size: 2.5rem}
  .footerBorders div:not(:last-child){border-right: 2px solid white}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .HeaderMid img{height: 175px}
  .section1logo{height: 300px}
  .Carrousel h1{font-size: 4rem}
  .Carrousel h2{font-size: 2.5rem}
}

@import "../node_modules//bootstrap/scss/bootstrap";